# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
---
version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'chore'
    cooldown:
      default-days: 7
    labels:
      - 'Type: Dependencies'
    groups:
      vitest:
        patterns:
          - 'vitest'
          - '@vitest/coverage-istanbul'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'chore'
    cooldown:
      default-days: 7
    labels:
      - 'Type: Dependencies'
