name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v5
        with:
          path: ./node_modules
          key: ${{ runner.os }}-${{ runner.arch }}-modules-${{ hashFiles('package-lock.json') }}

      - run: corepack enable npm && corepack prepare --activate
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - run: npm test
      - run: npm run lint
      - name: Build Windows and Linux
        if: runner.os != 'macOS'
        run: npm run build

      - name: Build macOS
        if: runner.os == 'macOS'
        run: npm run build -- --x64 && npm run build -- --arm64

      - name: Publish
        uses: actions/upload-artifact@v6
        with:
          name: Neanes-${{ matrix.os }}
          path: dist/Neanes-*
          retention-days: 3
