name: Publish Web

on: workflow_dispatch

defaults:
  run:
    shell: bash

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('package-lock.json') }}

      - run: corepack enable npm && corepack prepare --activate
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - run: npm test
      - run: npm run lint
      - run: npm run web:build -- --base=/neanes-web-app/
      - name: Push
        run: |
          cd dist
          git config --global user.email "4132779+danielgarthur@users.noreply.github.com"
          git config --global user.name "danielgarthur"
          git init -b master
          git add -A
          git commit -m "Deploy"
          git push -f https://danielgarthur:${{secrets.PAT}}@github.com/neanes/neanes-web-app master:gh-pages
