name: Publish

on: workflow_dispatch

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: ${{ runner.os }}-${{ runner.arch }}-modules-${{ hashFiles('package-lock.json') }}

      - run: corepack enable npm && corepack prepare --activate
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - run: npm test
      - run: npm run lint
      - name: Build Windows and Linux
        if: runner.os != 'macOS'
        run: npm run release
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Build macOS
        if: runner.os == 'macOS'
        run: npm run release -- --x64 && npm run release -- --arm64
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
